<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1> it's M.r Stick figure</h1>
		<p>
			Lorem ipsum dolor amet hot chicken iceland pabst forage farm-to-table vice wayfarers yuccie church-key glossier banjo dreamcatcher mustache chillwave DIY. Master cleanse VHS DIY whatever air plant gluten-free freegan dreamcatcher meh affogato listicle banjo skateboard. Plaid jianbing PBR&B flexitarian. Slow-carb mixtape bitters deep v copper mug everyday carry pitchfork helvetica neutra hella. Occupy squid shoreditch chillwave bushwick biodiesel freegan man bun health goth hexagon butcher crucifix raw denim activated charcoal.

			Mustache semiotics single-origin coffee pitchfork narwhal, portland kombucha 3 wolf moon neutra polaroid. Vegan seitan wolf viral, sustainable fam ramps gentrify next level marfa kickstarter irony butcher whatever bitters. Sartorial whatever sriracha, 3 wolf moon fixie cred photo booth biodiesel letterpress blue bottle keffiyeh meggings cardigan fingerstache gluten-free. Tumblr migas cold-pressed squid crucifix, wolf twee pok pok. Wolf man bun chia hashtag cloud bread.

			Man bun mixtape chambray enamel pin lumbersexual pinterest hell of unicorn tumeric affogato salvia lyft. Poke iceland artisan disrupt franzen hot chicken, listicle knausgaard prism synth. Helvetica fingerstache chicharrones yuccie crucifix fixie VHS chartreuse keytar swag letterpress pour-over next level disrupt echo park. Bicycle rights selfies letterpress air plant intelligentsia taxidermy pork belly sustainable slow-carb readymade wayfarers typewriter.

			Pickled hell of fixie umami seitan, kogi health goth freegan chia leggings cardigan cold-pressed activated charcoal humblebrag letterpress. Distillery before they sold out cred, shoreditch palo santo organic asymmetrical sriracha. Live-edge iPhone cardigan cred brunch irony snackwave DIY selvage 8-bit. Offal typewriter enamel pin, next level chillwave echo park keffiyeh church-key. Shabby chic neutra brunch blue bottle PBR&B.

			Listicle food truck cardigan, hell of subway tile deep v echo park activated charcoal fam migas vexillologist normcore mumblecore. 8-bit shaman affogato, air plant tumblr enamel pin umami. Readymade chicharrones skateboard jean shorts distillery adaptogen occupy helvetica shabby chic whatever hot chicken put a bird on it lo-fi hell of vice. Live-edge four loko meggings, taxidermy viral jean shorts synth snackwave. Food truck poutine bicycle rights tbh.

			Oh. You need a little dummy text for your mockup? How quaint.

			I bet you’re still using Bootstrap too…
		</p>
	</div>
</div>